/* header */

.navbar {
  background-color: #222831;
}

.navbar-brand {
  margin-left: 5%;
}

.navbar-item {
  color: #eeeeee;
  font-size: 18px;
  margin-left: 5%;
}

.navbar-item:hover,
.navbar-item:focus {
  background-color: #222831 !important;
  color: #00adb5 !important;
}

.navbar-end {
  margin-right: 5%;
}

.name {
  display: flex;
  align-items: center;
  margin-left: 10%;
  color: #00adb5;
  font-size: 30px;
  font-family: cursive, "Lucida Sans";
}

/* footer */

.footer {
  background-color: #eeeeee;
  max-height: 50px;
}

.footer > div > a {
  margin: 0 10px 0 10px;
}

.footer > p {
  margin: 15px 0 10px 0;
}

/* home-page */

.bg {
  background: url(../football.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: "center" !important;
  height: 900px;
  align-items: "center" !important;
  display: "flex" !important;
}

.title {
  color: #eeeeee;
  font-size: 50px;
  padding: 18% 0 0 0;
}

.button {
  color: #00adb5 !important;
  background-color: #393e46 !important;
}

.button:hover {
  color: #393e46 !important;
  background-color: #00adb5 !important;
}

/* home-cards */

.card-container {
  background-color: #393e46;
  height: 800px;
  display: flex;
}

.card {
  flex-direction: column;
  width: 23%;
  height: 60%;
  margin: 8% 5% 8% 5%;
  justify-content: center;
  align-items: center;
}

.card2 {
  background: url(../referee.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card1 {
  background: url(../team.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card3 {
  background: url(../cup.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-text {
  height: 100%;
  color: #eeeeee;
  padding-top: 49%;
  font-size: 50px;
}

.card-text:hover {
  color: #00adb5;
}
